body {
	background-color: #999999;
	color:#4C4C4C;
}

p {
	font-size:10px;
	font-family: montserrat;
}

p.table-data {
	font-size:18px;
}

.container {
	background-color: #fff;
	margin-top:20px;
}

h1 {
	font-family: 'playfair display',georgia,serif;
	font-size: 50px;
}

h2 {
	font-family: montserrat, helvetica,sans-serif;
	font-size: 12px;
	color: #EE5D00;
}

h3 {
	font-family: 'playfair display',georgia,serif;
	font-size: 16px;
}

h3.map-output {
	font-size: 35px;
	padding-bottom: 10px;
}

h4 {
	font-family: montserrat;
	font-size: 14px;
	color:#EE5D00;
	font-weight: bold;
    height: 2em;
    padding-top: 7px;
    margin:0;
    text-transform: uppercase;
}

h5 {
	font-family: montserrat;
	font-size: 14px;
	font-weight: bold;
	background-color: #EC5D05;
	color:#fff;
    height: 2em;
    padding-top: 7px;
    margin:0;
}

a {
	color:#A73300;
}

a:hover {
	color:#E19500;
	text-decoration: none;
}

.btn {
	border:none;
	border-radius: 3px;
	font-family: montserrat,helvetica,sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	width:150px;
	padding-top:12px;
	padding-bottom: 12px;
	margin-top:10px;
	transition: all 0.3s ease 0s;
}

.btn-primary {
	background-color:#A73300;
	color:#fff;
}

.btn-primary:hover {
	background-color:#E19500;
}

.upper {
	margin-top:20px;
}


#year {
	border: 1px solid #EC5D05;
	padding-left: 0;
    padding-right: 0;
    margin-right:5px;
}

#category {
	border: 1px solid #EC5D05;
	padding-left: 0;
    padding-right: 0;
    margin-left:5px;
}

.radio-container {
	padding-top: 5px;
    padding-bottom: 5px;
}

.checkbox label, .radio label {
	font-family: montserrat,helvetica,sans-serif;
	text-transform: uppercase;
}

#map {
	margin-top:20px;
	border-top: 10px solid #E19500;
	margin-left: 0;
	margin-right: 0;
	padding:0;
	height: 1200px;
}

.footer {
	background-color: #F5F5F5;
	color:#555;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
}

#tabular {
	padding-bottom: 20px;
}

.grid-headline {
	font-family: montserrat;
	font-size: 14px;
	font-weight: bold;
	background-color: #E19500;
	color:#fff;
    height: 2em;
    padding-top: 7px;
    margin:0;
    border-radius:3px;
}

#footer {
    margin-top: 5px;
    text-align: center;
}
